.arrow-down-icon {
  position: relative;
  width: 14px;
  height: 14px;
}
.arrow-down-icon::before,
.arrow-down-icon::after {
  content: "";
  width: 9px;
  height: 2px;
  background: rgb(0, 0, 0);
  display: block;
  position: absolute;
  top: 50%;
  transition: transform 0.2s;
}
.arrow-down-icon::before {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  left: 0px;
  transform: translateY(-50%) rotate(46deg);
}
.arrow-down-icon::after {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  right: 0px;
  transform: translateY(-50%) rotate(-46deg);
}
.arrow-down-icon.toggle::before {
  transform: translateY(-50%) rotate(-46deg);
}
.arrow-down-icon.toggle::after {
  transform: translateY(-50%) rotate(46deg);
}
