.lower-ctn {
  position: sticky;
  top: 0px;
  width: 100%;
  background: var(--white);
  z-index: 5;
}
.lower-ctn.is--sticked {
  box-shadow: 0 -10px 0 #fff;
}
.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: var(--white);
  width: 100%;
  z-index: 10;
}
.lower .tp-mn-nd-srch-ctn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 64px;
}
.logo {
  z-index: 4;
}

@media (max-width: 450px) {
  .lower {
    padding: 0 20px;
  }
}
