.main-content-ctn {
  padding-bottom: 30px;
  background: var(--white);

  position: relative;
}
.main-content-ctn-ctn {
  --toStickedFilter: calc(64px + 87.2px);
  padding: 0 50px;
}
.main-product-list-ctn {
  display: flex;
  color: #333;
}

@media screen and (max-width: 1450px) {
  .main-product-list-ctn {
    flex-direction: column;
  }
}

@media screen and (max-width: 1300px) {
  .main-content-ctn-ctn,
  .main-content-ctn {
    padding: 10px !important;
  }
}
