.logo {
  z-index: 4;
}
.fvr-bg-cnb-ctn {
  display: inline-flex;
  position: relative;
}
.fvr-nd-bg-ctn {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.fvr-nd-bg-ctn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 0 5px;
  border-radius: 50%;
}
.fvr-nd-bg-ctn a:hover,
.fvr-nd-bg-ctn a:focus {
  background: var(--bg-grey);
}
